<div class="section-container">
    <div class="container">
        <div class="row">                   
            <div class="col-md-7">
                <img class="img-responsive" src="{{ section.settings.news_left_side_image | image_url }}" alt="">
            </div>

            <div class="col-md-5">
                <ul class="features">
                    <li>
                        <h3> {{ section.settings.column_heading_1 }} </h3>
                        <p> {{ section.settings.column_para_1 }} </p>
                    </li>
                    <li>
                        <h3> {{ section.settings.column_heading_2 }} </h3>
                        <p>{{ section.settings.column_para_2 }}   </p>
                    </li>
                    <li>
                        <h3> {{ section.settings.column_heading_3 }} </h3>
                        <p>{{ section.settings.column_para_3 }}   </p>
                    </li>
                </ul>
            </div>
        

              
            <div class="row">
                <div class="col-md-4">
                        <img class="img-responsive page-base-image" src="{{ section.settings.news_image_1 | image_url  }}" alt="">

                </div>
                <div class="col-md-4">
                        <img class="img-responsive page-base-image" src="{{ section.settings.news_image_2 | image_url }}" alt="">
                </div>
                <div class="col-md-4">
                        <img class="img-responsive page-base-image" src="{{ section.settings.news_image_3 | image_url }}" alt="">
                </div>
            </div>
            
        </div>
    </div>
</div>


{% schema %}
{
    "name": "News Section",
    "settings": [
        {
            "type": "image_picker",
            "id": "news_left_side_image",
            "label": "Left Side image"
        },
        
        {
            "type": "text",
            "id": "column_heading_1",
            "label": "Column-1 Heading"
        },
        

        {
            "type": "text",
            "id": "column_para_1",
            "label": "Column-1 Paragraph"
        },

        {
            "type": "text",
            "id": "column_heading_2",
            "label": "Column-2 Heading"
        },

        {
            "type": "text",
            "id": "column_para_2",
            "label": "Column-2 Paragraph"
        },

        {
            "type": "text",
            "id": "column_heading_3",
            "label": "Column-3 Heading"
        },

        {
            "type": "text",
            "id": "column_para_3",
            "label": "Column-3 Paragraph"
        },

        {
            "type": "image_picker",
            "id": "news_image_1",
            "label": "News Image-1"
        },

        {
            "type": "image_picker",
            "id": "news_image_2",
            "label": "News Image-2"
        },
        {
            "type": "image_picker",
            "id": "news_image_3",
            "label": "News Image-3"
        }

    ]
}
{% endschema %}